# Ignore node_modules since dependencies are installed inside the container
node_modules

# Ignore log files
*.log

# Ignore environment files that may contain sensitive information
.env

# Ignore npm debug files
npm-debug.log*

# Ignore Git metadata and local development files
.git
.gitignore

# Ignore IDE-specific files and folders
.vscode/
.DS_Store

# Ignore build artifacts from your app (for example, if your app generates a dist/ folder)
dist/
build/
test/

# Elastic Beanstalk Files

.elasticbeanstalk/*
.git
.gitignore